# Budget Analysis

---

## Environment Setup

In [1]:
# Initial Imports
import os
import plaid
import requests
import datetime
import json
import pandas as pd
from dotenv import load_dotenv

%matplotlib inline

In [2]:
# Helper functions

def pretty_print_response(response):
    """
    This function formats a JSON file to pretty printing it in the screen.
    """
    print(json.dumps(response, indent=4, sort_keys=True))

In [3]:
# Set environment variables from the .env file
load_dotenv()

True

In [4]:
# Extract API keys from environment variables
PLAID_CLIENT_ID = os.getenv("PLAID_CLIENT_ID")
PLAID_SECRET = os.getenv("PLAID_SBX_SECRET_KEY")
PLAID_PUBLIC_KEY = os.getenv("PLAID_PUBLIC_KEY")

---

## Plaid Access Token

In this section, you will use the `plaid-python` API to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:

1. Create a client to connect to plaid

2. Use the client to generate a public token and request the following items: ['transactions', 'income', 'assets']

3. Exchange the public token for an access token

4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [5]:
# Create the client object
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET, public_key=PLAID_PUBLIC_KEY, environment='sandbox')

In [6]:
# Set the institution id
INSTITUTION_ID = "ins_109508"

### 2. Generate a public token

In [7]:
# Create the public token

create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID,
                                                         ['transactions','income','assets'])
# Print the public token

create_tkn_response

{'public_token': 'public-sandbox-447fd569-26c7-4bce-9a17-ceecd33aa140',
 'request_id': 'uHuicSK2q0RSmpy'}

### 3. Exchange the public token for an access token

In [8]:
# Retrieve the access token

exchange_response = client.Item.public_token.exchange(create_tkn_response['public_token'])

# Print the access toke
exchange_response

{'access_token': 'access-sandbox-d20b7ac2-eba7-4df2-9d70-94d4ad98f4a6',
 'item_id': 'Pq3V8D7wzlU4Q4vNAe19i3xXpa1PJeC7yagRR',
 'request_id': '12i4QMHc3ML8MeT'}

In [9]:
# Store the access token in a Python variable

access_token = exchange_response['access_token']

### 4. Fetch Accounts

In [10]:
# Retrieve accounts

accounts = client.Accounts.get(access_token)    ## is the below output right?  the below give everything   do they jsut want accounts?
                                               ##i originally only put "client.Accounts.get(access_token)" in the 
                                                ## code line above and got an output below  it looked slightly diff
                                                ### than this below output, but still had curly brackets etc.
                                                ## "pretty" must be a nicer format   what about json dump?
# Print accounts

pretty_print_response(accounts)

{
    "accounts": [
        {
            "account_id": "E1mXjD36eQsl4l8zvJEmTzPlj5QzEBiXmoWaa",
            "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "0000",
            "name": "Plaid Checking",
            "official_name": "Plaid Gold Standard 0% Interest Checking",
            "subtype": "checking",
            "type": "depository"
        },
        {
            "account_id": "WdjnmDk9NxsgMgWr7JnaTqbPXNeqlAUljpedJ",
            "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "1111",
            "name": "Plaid Saving",
            "official_name": "Plaid Silver Standard 0.1% Interest Saving",
            "subtype": "savings",
            "type": "depository"
        },
        {
            "account_id": "AeAXaEKmNPHVPVeqbEv3tpZXgKdpVwf15gqbq",
            "balances": {
                "available": null,
                "current": 1000,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "2222",
            "name": "Plaid CD",
            "official_name": "Plaid Bronze Standard 0.2% Interest CD",
            "subtype": "cd",
            "type": "depository"
        },
        {
            "account_id": "Gp9XeDdmZMsmWmEowaGPHpwGXDkpvaf1obDVE",
            "balances": {
                "available": null,
                "current": 410,
                "iso_currency_code": "USD",
                "limit": 2000,
                "unofficial_currency_code": null
            },
            "mask": "3333",
            "name": "Plaid Credit Card",
            "official_name": "Plaid Diamond 12.5% APR Interest Credit Card",
            "subtype": "credit card",
            "type": "credit"
        },
        {
            "account_id": "nKldZnAjErioJoq3EWjDsnoX9JQngjf6Qz1Lz",
            "balances": {
                "available": 43200,
                "current": 43200,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "4444",
            "name": "Plaid Money Market",
            "official_name": "Plaid Platinum Standard 1.85% Interest Money Market",
            "subtype": "money market",
            "type": "depository"
        },
        {
            "account_id": "b1knBWyqEMsR8RgxzW9eTw4oW3MwJZuV7WAMa",
            "balances": {
                "available": null,
                "current": 320.76,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "5555",
            "name": "Plaid IRA",
            "official_name": null,
            "subtype": "ira",
            "type": "investment"
        },
        {
            "account_id": "mqRxQnAPyKUGjGlQ7VnMSP1l8jJPxDuLX1BV6",
            "balances": {
                "available": null,
                "current": 23631.9805,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "6666",
            "name": "Plaid 401k",
            "official_name": null,
            "subtype": "401k",
            "type": "investment"
        },
        {
            "account_id": "yjN1Gnrpq7haramx5WLysLxJorjLqzCywEV7l",
            "balances": {
                "available": null,
                "current": 65262,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "7777",
            "name": "Plaid Student Loan",
            "official_name": null,
            "subtype": "student",
            "type": "loan"
        },
        {
            "account_id": "9x1XqE6ZrzTvZvJjDR3yCKmaqNXKvyfRgZdXw",
            "balances": {
                "available": null,
                "current": 56302.06,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
            },
            "mask": "8888",
            "name": "Plaid Mortgage",
            "official_name": null,
            "subtype": "mortgage",
            "type": "loan"
        }
    ],
    "item": {
        "available_products": [
            "auth",
            "balance",
            "credit_details",
            "identity",
            "investments",
            "liabilities"
        ],
        "billed_products": [
            "assets",
            "income",
            "transactions"
        ],
        "consent_expiration_time": null,
        "error": null,
        "institution_id": "ins_109508",
        "item_id": "Pq3V8D7wzlU4Q4vNAe19i3xXpa1PJeC7yagRR",
        "webhook": ""
    },
    "request_id": "gwlRErwmUVsdaJV"
}

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days

2. Print the categories for each transaction type

3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)

4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [29]:
# Set the start and end date 90 days from today

start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now()) 

# Retrieve the transactions for the last 90 days

transactions_response = client.Transactions.get(access_token, start_date, end_date)
# ^ this is creating the df name as well..."transactions_response" that will be used for df in subsequent steps


# Print the transactions

## this is what i used originally but i think it not right bc they want u to use the pretty print  method since they gave 
## it to u in "helper functions" in the begn 
## print(json.dumps(transactions_response['transactions'][:2],indent=4, sort_keys=True))
pretty_print_response(transactions_response["transactions"][:1])

[
    {
        "account_id": "Gp9XeDdmZMsmWmEowaGPHpwGXDkpvaf1obDVE",
        "account_owner": null,
        "amount": 500,
        "authorized_date": null,
        "category": [
            "Travel",
            "Airlines and Aviation Services"
        ],
        "category_id": "22001000",
        "date": "2020-07-29",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "merchant_name": "United Airlines",
        "name": "United Airlines",
        "payment_channel": "in store",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_code": null,
        "transaction_id": "Gp9XeDdmZMsmWmEowaGPHpwo9vgGyXF1K3E7m",
        "transaction_type": "special",
        "unofficial_currency_code": null
    }
]

### 2. Print the categories for each transaction

In [30]:
# API2 post office hours he showed how u can get data w/in the dump above

transactions_response.keys()  ## so ur looking at ur df and the keys w/in the dictionary

dict_keys(['accounts', 'item', 'request_id', 'total_transactions', 'transactions'])

In [31]:
# Create a for-loop to print the categories for each transaction

for transaction in transactions_response['transactions']:
    print(transaction["category"])

##im telling it to loop thru and print each category
    
# not sure why this doesnt work:

#for transaction in transactions_response['transactions']:
#    print(json.dumps(transactions["category"], indent=4, sort_keys=True))

['Travel', 'Airlines and Aviation Services']
['Travel', 'Taxi']
['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants', 'Fast Food']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Taxi']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants', 'Fast Food']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']
['Travel', 'Airlines and Aviation Services']
['Travel', 'Taxi']
['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants', 'Fast Food']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Taxi']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants', 'Fast Food']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']
['Travel', 'Airlines and Aviation Services']
['Travel', 'Taxi']
['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants', 'Fast Food']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Taxi']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants', 'Fast Food']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']

### 3. Create a new DataFrame using the following fields from the JSON transaction data: `date`, `name`, `amount`, `category`. 

(For categories with more than one label, just use the first category label in the list)

In [32]:
# Define an empty DataFrame and set the columns as date, name, amount, and category

transaction_df = pd.DataFrame(columns=["date", "name", "amount", "category"])

# Retrieve all the transactions

transactions = transactions_response["transactions"]

# Populate the transactions DataFrame with the transactions data

for index, transaction in enumerate(transactions):
    transaction_df.loc[index] = [transaction["date"], transaction["name"], transaction["amount"], transaction["category"][0]]

# Display sample data from the DataFrame    

transaction_df.head()

         date                       name  amount        category
0  2020-07-29            United Airlines     500          Travel
1  2020-07-27     Uber 072515 SF**POOL**    6.33          Travel
2  2020-07-24                 Tectra Inc     500  Food and Drink
3  2020-07-23  AUTOMATIC PAYMENT - THANK  2078.5         Payment
4  2020-07-23                        KFC     500  Food and Drink

### 4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

In [33]:
# Display data types

transaction_df.dtypes

date        object
name        object
amount      object
category    object
dtype: object

In [34]:
# Make any required data type transformation

transaction_df["amount"] = transaction_df["amount"].astype("float")

transaction_df.dtypes

date         object
name         object
amount      float64
category     object
dtype: object

In [35]:
## put in ascending order as we will have to chart later    ## might not need to put in ascending order actually
transaction_df = transaction_df.sort_index(ascending=False)
transaction_df.head()

          date             name  amount        category
47  2020-05-10     INTRST PYMNT   -4.22        Transfer
46  2020-05-11         SparkFun   89.40  Food and Drink
45  2020-05-12        Starbucks    4.33  Food and Drink
44  2020-05-12       McDonald's   12.00  Food and Drink
43  2020-05-13  United Airlines -500.00          Travel

In [36]:
# Set the date column as index

transaction_df.set_index(pd.to_datetime(transaction_df['date'], infer_datetime_format=True), inplace=True)

transaction_df.head(5)

                  date             name  amount        category
date
2020-05-10  2020-05-10     INTRST PYMNT   -4.22        Transfer
2020-05-11  2020-05-11         SparkFun   89.40  Food and Drink
2020-05-12  2020-05-12        Starbucks    4.33  Food and Drink
2020-05-12  2020-05-12       McDonald's   12.00  Food and Drink
2020-05-13  2020-05-13  United Airlines -500.00          Travel

In [37]:
# drop the "date" column

transaction_df.drop(columns=['date'], inplace=True)

In [38]:
# Display sample data

transaction_df.head(5)

                       name  amount        category
date
2020-05-10     INTRST PYMNT   -4.22        Transfer
2020-05-11         SparkFun   89.40  Food and Drink
2020-05-12        Starbucks    4.33  Food and Drink
2020-05-12       McDonald's   12.00  Food and Drink
2020-05-13  United Airlines -500.00          Travel

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:

1. Determine the previous year's gross income and print the results

2. Determine the current monthly income and print the results

3. Determine the projected yearly income and print the results

In [39]:
# Fetch the income data

transaction_df = client.Income.get(access_token)

# Print the income data

pretty_print_response(transaction_df)

# print(json.dumps(transaction_df, indent=4, sort_keys=True))  # why do u have to do jason here. why cant u outout the first formula?

{
    "income": {
        "income_streams": [
            {
                "confidence": 0.99,
                "days": 690,
                "monthly_income": 500,
                "name": "UNITED AIRLINES"
            }
        ],
        "last_year_income": 6000,
        "last_year_income_before_tax": 7285,
        "max_number_of_overlapping_income_streams": 1,
        "number_of_income_streams": 1,
        "projected_yearly_income": 6085,
        "projected_yearly_income_before_tax": 7389
    },
    "request_id": "joCMn6BhqS6uWXn"
}

In [40]:
# Determine the previous year's gross income and print the results

transaction_df['income']['last_year_income_before_tax']
# print(f"Last Year's income: {income_response['income']['last_year_income_before_tax']}")

7285

In [41]:
# Determine the current monthly income and print the results

transaction_df['income']['income_streams'][0]['monthly_income']

500

In [42]:
# Determine the projected yearly income and print the results

transaction_df['income']['projected_yearly_income']

6085

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)

2. Generate a bar chart with the number of transactions for each category

3. Calulate the expenses per month

4. Plot the total expenses per month

### Calculate the expenses per category

In [43]:
# Compute the total expenses per category

# totals_by_category = transaction_df.groupby("category").sum()["amount"]

transaction_df.groupby("category").sum()["amount"]

# Display the expenses per category

totals_by_category

AttributeError: 'dict' object has no attribute 'groupby'

In [44]:
# Create a spending categories pie chart.


totals_by_category.plot.pie(title="Total Expenses Per Category")

NameError: name 'totals_by_category' is not defined

### Calculate the expenses per month

In [26]:
# Create a DataFrame with the total expenses

transactions_per_month = transaction_df.reset_index()
transactions_per_month["month"] = pd.DatetimeIndex(transactions_per_month["date"]).month
transactions_per_month = transactions_per_month.groupby("month").sum()

# Display sample data
transactions_per_month

AttributeError: 'dict' object has no attribute 'reset_index'

In [27]:
# Create a spending per month bar chart
#transactions_per_month.plot.bar()